@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #fafafa;
  --text: #1f1f1f;
}

.dark {
  --background: #141414;
  --text: #ebebeb;
}

.debug {
  border: 1px solid red;
}

@font-face {
  font-family: "Geist Mono";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("assets/fonts/geistmono/GeistMono-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Geist Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("assets/fonts/geistmono/GeistMono-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Geist Mono";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("assets/fonts/geistmono/GeistMono-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Geist Mono";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("assets/fonts/geistmono/GeistMono-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Geist Mono";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("assets/fonts/geistmono/GeistMono-Bold.woff2") format("woff2");
}

body {
  background-color: var(--background);
  color: var(--text);
}
