@import "tailwindcss";

.debug {
  border: 1px solid red;
}

@font-face {
  font-family: "Geist Mono";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("assets/fonts/GeistMono-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Geist Mono";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("assets/fonts/GeistMono-Bold.woff2") format("woff2");
}
